@import "bootstrap/bootstrap";
@import "main_account_list/accounts";
@import "account_create/create";
@import "account/show";
@import "trade/trade";
@import "trade/button";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}