@import "bootstrap/bootstrap";
@import "main_account_list/accounts";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.price{
  background: url('../img/price.png') no-repeat -29px 0;
  width: 73px;
  height: 47px;
  line-height: 37px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  padding-right:7px ;
  float: right;
  position: relative;
  right: -9px;
  top:10px;
 }

textarea#body{
  resize: vertical;
}